.frequentQuestions-heading{
    margin: 20px 0px 0px 0px;
    text-align: center;
    letter-spacing: 0.50px;
    font-family: Poppins;
}
 
.frequentQuestions-heading h3 {
    color: rgba(42, 167, 255, 1);
    margin-bottom: 10px;
}


.frequentQuestions-heading h1 {
    color: rgba(27, 60, 116, 1);
    font-weight: 800;
}

.accordianButton{
    color: rgba(42, 167, 255, 1);
}

.accordianTitle{
    color: rgba(27, 60, 116, 1);
    letter-spacing: 0.50px;
    font-family: Poppins;
    font-weight: 800;
}